<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppSettingsFile" value="appsettings.json"/>
    <add key="UserSettingsFile" value="usersettings.json"/>
  </appSettings>
  <connectionStrings>
    <add name="SudokuDb" 
         connectionString="Data Source=.\SudokuDatabase.db;" 
         providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
</configuration>